// Layout
$nav-bar-height: 64px;

// Breakpoints
$sm-breakpoint: 40em;
$md-breakpoint: 52em;

// Typography
$title-font-size: 72px;
$subtitle-font-size: 24px;
$text-font-size: 19px;
$navbar-text-font-size: 17px;
$footer-font-size: 15px;

// Colors
$brand-cyan: #29abe2;
$brand-blue: #0c003f;
$brand-pink: #ff3f60;
$body-background: #121212;
$footer-background: #252525;
$text-primary: #f2f2f2;
$text-secondary: #f2f2f296;


// Crazy insane or insane crazy?
:root {
    // Layout
    --nav-bar-height: $nav-bar-height;

    // Breakpoints
    --sm-breakpoint: $sm-breakpoint;
    --md-breakpoint: $md-breakpoint;

    // Typography
    --title-font-size: $text-font-size;
    --subtitle-font-size: $subtitle-font-size;
    --text-font-size: $text-font-size;
    --navbar-text-font-size: $navbar-text-font-size;
    --footer-font-size: $footer-font-size;

    // Colors
    --brand-cyan: $brand-cyan;
    --brand-blue: $brand-blue;
    --brand-pink: $brand-pink;
    --body-background: $body-background;
    --footer-background: $footer-background;
    --text-primary: $text-primary;
    --text-secondary: $text-secondary;
}