$palettes: (
  text: (
    default: #f2f2f2,
    secondary: #f2f2f2b3,
    dark: #252525,
  ),
  background: (
    default: #121212,
    secondary: #303030,
    bright: #4b4b4b,
  ),
  brand: (
    cyan: #29abe2,
    blue: #0c003f,
    pink: #ff3f60,
  ),
);

@function clr($p, $c: 'default') {
  @return map-get(map-get($palettes, $p), $c);
}
