// HEADER
// -------------------------------------------
header {
    background-color: transparent;
    height: $nav-bar-height;

    li > a {
        color: $text-secondary;
        font-size: $navbar-text-font-size;
        font-weight: 900;
        position: relative;
        transition: color 0.3s ease;

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 4px;
            width: 0;
            background-color: $brand-pink;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover, 
        &:focus {
            color: $text-primary;
            &::after {
                width: 30%;
            }
        }
    }
}

// SEARCH FIELD
// -------------------------------------------
.search {
    .search-icon {
        height: 36px;
        margin: auto 8px;
    }
    input, span {
        font-size: 36px;
        line-height: 36px;
        white-space: pre;
        background-color:  transparent;
        color: $text-primary;

        &::placeholder {
            color: $text-secondary;
        }
    }
    span {
        // display: none; 
        //stupid workaround but whatever (width is auto on display none elements when using computedStyle)
        visibility: hidden;
        position: absolute;
        z-index: -1;
        user-select: none;
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


// BACKGROUND SVG
// -------------------------------------------
.bg-svg {
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100vh;
}

