@import 'colors.scss';
@import 'utils.scss';
@import 'variables.scss';

// GLOBAL
// -------------------------------------------
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

    body {
        background-color: $body-background;
        color: $text-primary;

        .page-wrap {
            float: right;
            width: 100%;
            transition: margin-right 0.3s ease;
        }
    }
}

a {
    cursor: pointer;
    color: $text-primary;
}

:focus {
    outline: none;
}

// HEADER
// -------------------------------------------
header {
    background-color: $body-background;
    height: $nav-bar-height;

    li > a {
        color: $text-secondary;
        font-size: $navbar-text-font-size;
        font-weight: 900;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 4px;
            width: 0;
            background-color: $brand-pink;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover, 
        &:focus {
            color: $text-primary;
            &::after {
                width: 50%;
            }
        }
    }

    .close-menu {
        display: none;
    }
}

// SIDENAV
// -------------------------------------------
#side-navigation:target {
    width: 40%;
}

#side-navigation:target + .page-wrap {
    margin-right: 40%;

    .open-menu {
        display: none;
    }

    .close-menu {
        display: flex;
    }
}

.sidenav {
    width: 0; 
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: width 0.3s ease;
    background-color: $footer-background;

    a {
        height: 48px;
        line-height: 48px;
        &:hover,
        &:focus
        {
            background-color: $brand-pink;
        }
    }
}

@media (min-width: $sm-breakpoint) {

    .sidenav {
        width: 0 !important;
    }

    .page-wrap {
        margin-right: 0 !important;
    }
}


// MAIN
// -------------------------------------------
main {
    h1 {
        font-size: $title-font-size;
        text-align: center;
    }

    p {
        color: $text-secondary;
    }

    .cta {
        height: 42px;
        width: 200px;
        background-color: $brand-pink;
        line-height: 42px;
        text-align: center; 
        color: $text-primary;
        
        &:hover, &:focus {
            background-color: #ff3f5fc5;
        }
    }

    .divider {
        margin: 200px auto;
    }
}

@media (min-width: $md-breakpoint) {
    h1 {
        text-align: start !important;

        .line {
            height: 4px;
            width: 55px;
            background-color: $text-primary;
        }
    }

    section {

        .cell {
            width: 90%;
        }

        p {
            max-width: 80%;
        }
    }
}

// THREE
// -------------------------------------------
.three-container {
    height: 100%;

    * {
        height: 80%;
        width: 80%;
    }
}

// FOOTER
// -------------------------------------------
footer {
    background-color: $footer-background;
    font-size: $footer-font-size;
    box-shadow: 0 -2px 20px 2px #00000060;
    margin-top: 128px;

    ul a {
        color: $text-secondary;
        &:hover, &:focus {
            color: $text-primary;
        }
    }

    li  {
        text-align: center;
        min-width: 80px;
    }

    @media (max-width: $sm-breakpoint) {
    ul {
        flex-direction: column;
        li {
            padding: 8px 0;
        }
    }
}
}
