@import 'colors.scss';
@import 'utils.scss';
@import 'variables.scss';

// GLOBAL
// -------------------------------------------
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    body {
        background-color: $body-background;
        color: $text-primary;
        .page-wrap {
            float: right;
            width: 100%;
            transition: margin-right 0.3s ease;
        }
    }
}
ul a {
    &:hover {
        cursor: pointer;
    }
    color: $text-primary;
}

// SIDENAV
// -------------------------------------------
#side-navigation:target {
    width: 40%;
}

#side-navigation:target + .page-wrap {
    margin-right: 40%;
    .open-menu {
        display: none;
    }
    .close-menu {
        display: flex;
    }
}

.sidenav {
    width: 0; 
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: width 0.3s ease;
    background-color: $footer-background;
    li {
        height: 48px;
        line-height: 48px;
        &:hover {
            background-color: $brand-pink;
        }
    }
}

@media (min-width: $sm-breakpoint) {
    .sidenav {
        width: 0 !important;
    }
    .page-wrap {
        margin-right: 0 !important;
    }
}


// HEADER
// -------------------------------------------
header {
    background-color: $body-background;
    height: $nav-bar-height;
    .close-menu {
        display: none;
    }
}

// MAIN
// -------------------------------------------
main {
    h1 {
        font-size: 72px;
        text-align: center;
        .line {
            height: 2px;
        }
    }
    p {
        color: $text-secondary;
    }
    .cta {
        height: 42px;
        width: 200px;
        background-color: $brand-pink;
        line-height: 42px;
        text-align: center; 
        a {
            color: $text-primary;
        }
    }
    .cta:hover {
        background-color: #ff3f5fc5;
        cursor: pointer;
    }

    .divider {
        margin: 200px auto;
    }
}

@media (min-width: $md-breakpoint) {
    h1 {
        font-size:  80px !important;
        text-align: start !important;
        .line {
            height: 4px !important;
            width: 55px;
            background-color: $text-primary;
        }
    }
    section {
        .cell {
            width: 90%;
        }
        p {
            max-width: 80%;
        }
    }
}

// THREE
// -------------------------------------------
.three-container {
    height: 100%;
    display: flex;
    justify-content: center;
    * {
        height: 80%;
        width: 80%;
    }
}

// FOOTER
// -------------------------------------------
footer {
    background-color: $footer-background;
    box-shadow: 0 -2px 20px 2px #00000060;
    margin-top: 128px;
    ul a {
        color: $text-secondary;
    }
    li  {
        text-align: center;
        min-width: 80px;
    }
    @media (max-width: $sm-breakpoint) {
    ul {
        flex-direction: column;
        li {
            padding: 8px 0;
        }
    }
}
}
