// Additional utility stuff
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.op1 {
    user-select: none;
    color: transparent;
    background-color: transparent;
}
.icon {
    img {
        height: 42px;
    }
}

.hide-on-sm {
    display: block;
}
.show-on-sm {
    display: none;
}
@media (max-width: 40em) {
    .hide-on-sm {
        display: none;
    }
    .show-on-sm {
        display: block;
    }
}
