$color-brand-cyan: #29abe2;
$color-brand-blue: #0c003f;
$color-brand-pink: #ff3f60;
$color-background: #121212;
$color-background-secondary: #252525;
$color-text: #f2f2f2;
$color-text-secondary: #f2f2f296;